<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="net.mreunionlabs.intokotlin">

    <application
            android:name=".MyApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".language.CopyActivity"
                android:label="@string/title_activity_copy_paste"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".language.NextActivity">
        </activity>
        <activity
                android:name=".language.PasteKotlinActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".language.PasteActivity">
        </activity>
        <activity
                android:name=".language2.ValVarActivity"
                android:label="@string/title_activity_val_var"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".language2.LambdaActivity">
        </activity>
        <activity
                android:name=".usingkoin.UsingKoinActivity"
                android:label="@string/title_activity_using_koin"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>

</manifest>